@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@700&display=swap');


.logo-avatar-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid black;
    transition: transform 0.5s ease, background-color 0.5s ease;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    z-index: 10;


    &.hidden {
      transform: translateY(-82%);
      background-color: antiquewhite;
    }
}

.avatar-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.info-wrappper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
}

.arrowUp {
  height: 35px;
  width: 35px;
  -webkit-user-drag: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background: #ffffff;
    border-radius: 50%;
  }
}

.arrowDown {
  height: 35px;
  width: 35px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background: #ffffff;
    border-radius: 50%;
  }
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar-wrapper__linkedin {
  width: 35px;
  height: 35px;
  -webkit-user-drag: none;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    opacity: 1;
  }
}

.avatar-wrapper {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    transition: opacity 0.5s ease;
  
    &.hidden {
      opacity: 0;
    }

    &.about {
      background-color: whitesmoke ;
      width: 75px;
      height: 75px;
      opacity: 0.3;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
        opacity: 1;
        border: 2px solid #101010;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); 
      }
    }
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
  }

.logos-ticker {
  padding-block: 4px;
  overflow: hidden;
  display: inline-flex;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 10%, #fff  90%, transparent);  
  background-color: antiquewhite;
  width: 100%;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  transition: blur 0.3 ease;
  opacity: 1;
  transition: opacity 0.3s ease;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &:hover .ul {
    animation-play-state: paused;
  }

  .ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll 10s linear infinite;
  }

  .logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-user-drag: none;
    padding: 2px;

}
}

.special-font {
  font-family: 'Tourney', sans-serif;
  font-size: 1.5rem;
  user-select: none;
  color: #333;
}

.special-font1 {
  font-family: 'Tourney', sans-serif;
  font-size: 1rem;
  user-select: none;
  color: #333;

  &.players {
    font-size: 1.5rem; 
    color: #333;  
    transition: opacity 0.5s ease;

    &.show1{
      opacity: 0;
    }

    &-hidden {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease;
      padding: 15px;
      position: absolute;

      &.show1{
        opacity: 1;
    }
  }

  }

  &.futureProject{
    font-size: 1.5rem;
    padding: 10px;
    color: #333;
  }

  &.about {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: underline;
    color: #333;
  }
}

.aboutMe__description {
  background-color: antiquewhite;
    color: #333; /* Cor do texto */
  font-size: 1.2rem; /* Tamanho do texto */
  padding: 25px; /* Espaçamento interno maior */
  border-radius: 15px; /* Bordas mais arredondadas */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Sombra mais suave e destacada */
  max-width: 700px; /* Largura máxima maior */
  margin: 30px auto; /* Centraliza o bloco com mais espaçamento */
  text-align: center; /* Centraliza o texto */
  overflow: hidden; /* Esconde conteúdo extra */
  z-index: 1;
  position: relative; /* Necessário para elementos ::before e ::after */

  /* Animação de hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px); /* Eleva o bloco ao passar o mouse */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4); /* Sombra mais intensa no hover */
  }

  /* Efeito decorativo com ::before */
  &::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background:#333;; /* Círculo decorativo */
    border-radius: 50%;
    z-index: -1; /* Fica atrás do conteúdo */
    animation: float 6s infinite ease-in-out;
    opacity: 0.3;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: #333; /* Círculo decorativo */
    border-radius: 50%;
    z-index: -1; /* Fica atrás do conteúdo */
    animation: float 8s infinite ease-in-out;
    opacity: 0.3;
  }


  /* Animação dos elementos decorativos */
  @keyframes float {
    0% {
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(-10px) translateX(156px);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; 
  border-right: 4px solid;
  animation: typing 3s steps(30, end) infinite, blink 0.5s step-end infinite;
}

.aboutMe {
  filter: blur(20px);
  transition: filter 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.hidden {
    filter: none;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.line {
  width: 50px; /* Ajuste o comprimento da linha */
  height: 2px; /* Espessura da linha */
  background-color: #333; /* Cor da linha */
  margin: 0 10px;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(45deg, #f3ec78, #af4261);
  border-radius: 2px; 
  transform: scaleX(1); 
  transform-origin: left;
  transition: transform 0.3s ease-in-out; /* Animation for the underline */
}

.inline-container {
  display: inline-flex; 
  align-items: baseline; 
  gap: 5px; 
  white-space: nowrap; 
}


.cards-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;

  &.swiper-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
}


.container-swipper {
  padding: 50px;
  transition: transform 0.5s ease, filter 0.5s ease;
  filter: blur(20px);

  & .swiper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.hidden {
    filter: none;
  }
}

.swiper-scrollbar {
  background-color: transparent;
  width: 100%;
  height: 8px;
  bottom: 0;
  display: flex;
}

.card {
  background-color: antiquewhite;
  height: 300px;
  width: 200px;
  border-radius: 10px;
  position: relative; 
  overflow:hidden; /* Esconde o conteúdo que ultrapassa os limites do card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.3;
  transition: opacity 0.5s ease;

  &:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); /* Stronger shadow on hover */
    cursor: pointer;


    .video-background {
      //transform: scale(0.8); /* Aumenta o vídeo proporcionalmente */
      transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    }
  }
}

.video-background{
  width: 100%;
  height: 100%;
  padding: 5px;
  object-fit: contain;
  background-color: transparent;
  position: absolute;

  &.show1{
    opacity: 0;  
  }
}

.card.swiper-slide.swiper-slide-active
{
  opacity: 1;
}




@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Adjust based on the text length */
  }
}

@keyframes blink {
  from {
    border-color: #333;
  }
  to {
    border-color: transparent;
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

