<!--  HEADER  -->
<div class="logo-avatar-wrapper" [class.hidden]="isHidden">
<div class="avatar-info-wrapper">
  <div class="images-container">
<div class="avatar-wrapper" [class.hidden]="isHidden">
  <img src="assets/ProfilePic.png" alt="Avatar" class="avatar" />
</div>
<div class="avatar-wrapper__linkedin" [class.hidden]="isHidden">
  <a href="https://www.linkedin.com/in/ricardoelias98/" target="_blank" rel="noopener noreferrer">
  <img src="assets/linkedin.png" alt="Avatar" class="avatar" />
</a>
</div>
</div>
<div class="info-wrappper" [class.hidden]="isHidden">
<span class="special-font1"> 👋🏽, my name is Ricardo Elias </span>
<div class="inline-container">
  <span class="special-font"> I'm a </span>
  <span class="special-font typewriter underline">Software Developer 👨🏽‍💻🚀</span>
</div>
</div>
<img   [src]="isHidden ? 'assets/arrowDown.png' : 'assets/arrowUp.png'" 
alt="Avatar" class="arrowUp" (click)="hideTopInfo()" />
</div>
</div>

<!--  PROJECTS SLIDERS  -->
<div class="container-swipper" [class.hidden]="isHidden">
<div class="swiper">
<div class="cards-container swiper-wrapper">
  <div class="card swiper-slide" (dblclick)="showCard1Info()">
    <span class="special-font1 players-hidden" [class.show1]="card1Show">
      To practice the basics, I built a simple project in 2/3 days, where I used directives, pipes, routes, and other core features.<br>
      <br> 
      It was a straightforward app, but I really enjoyed working on it because it helped me put into practice what I had been studying.<br>
    </span>
    <img src="assets/players.png" alt="player" class="video-background" [class.show1]="card1Show"/>
    <span class="special-font1 players" [class.show1]="card1Show"> Players List 🎮 </span>
  </div>
  <div class="card swiper-slide" (dblclick)="showCard2Info()">
    <span class="special-font1 players-hidden" [class.show2]="card2Show">
      This is a website I created to showcase my sister's photography work.<br>
      <br>
      The goal was to build a simple and elegant portfolio where she can share her best photos and projects.<br>
    </span>
    <img src="assets/photoSite.png" alt="player" class="video-background2" [class.show2]="card2Show"/>
    <span class="special-font1 players" [class.show2]="card2Show"> Photography 📸 </span>
  </div>
  <div class="card swiper-slide">
    <span class="special-font1 futureProject"> # Future Project </span>
  </div>
  <div class="card swiper-slide">
    <span class="special-font1 futureProject"> # Future Project </span>
  </div>
  <div class="card swiper-slide">
    <span class="special-font1 futureProject"> # Future Project </span>
  </div>
  <div class="card swiper-slide">
    <span class="special-font1 futureProject"> # Future Project </span>
  </div>
</div>
<div class="swiper-scrollbar"></div>
<span class="special-font1 about"> MY PROJECTS </span>
</div>
</div>

<!--  ABOUT ME  -->
<div class="aboutMe-wrapper">
<div class="aboutMe" [class.hidden]="isHidden">
  <div class="aboutMe__icons">
    <div class="avatar-wrapper about" >
      <img src="assets/baby.png"  alt="Avatar" class="avatar" matTooltip="I was born and raised in Coimbra, Portugal! 🇵🇹 Coimbra will always be a big part of my story 🏡."
      [matTooltipPosition]="'above'" [matTooltipDisabled]="!isHidden"
      />
    </div>
  <div class="line"></div>
  <div class="avatar-wrapper about" >
    <img src="assets/workout.png"  alt="Avatar" class="avatar" matTooltip="Fueled by my passion for sports 🏋️‍♂️ and health ❤️, I completed a Bachelor's degree in Sports Science 🎓 in 2020 and a Postgraduate degree in High Performance Training 🎯 in 2022. I worked as a physical trainer in handball 🤾‍♂️ and football ⚽, coached athletes individually up to the third division 🏆, taught PE in schools 🏫, and trained clients as a personal trainer 💪. As it didn’t fully meet my expectations, I decided to change direction 🔄."
    [matTooltipPosition]="'above'"   [matTooltipDisabled]="!isHidden"
    />
  </div>
  <div class="line"></div>
  <div class="avatar-wrapper about" >
    <img src="assets/coding.png" alt="Avatar" class="avatar" [matTooltipPosition]="'above'" [matTooltipDisabled]="!isHidden"  matTooltip="In 2023, I discovered my passion for programming 💻. I started learning on my own at home 🏡, watching courses and videos online 🎥. Later, I enrolled in an intensive programming course called 'Acertar o Rumo – Programming in Java' at the Department of Informatics Engineering at the University of Coimbra 🎓. There, I learned Java ☕, React ⚛️, CSS 🎨, HTML 🌐, Jakarta EE 🛠️, and developed important soft skills like teamwork 🤝, resilience 💪, adaptability 🔄, and time management ⏳. It was an intense year that changed my life 🚀"/>
  </div>
  <div class="line"></div>
  <div class="avatar-wrapper about" >
    <img src="assets/estagio.png" alt="Avatar" class="avatar" [matTooltipPosition]="'above'" [matTooltipDisabled]="!isHidden"  matTooltip="I did an internship at Critical TechWorks, a company based in Lisbon 🌆, where I had my first real experience in a corporate environment 🏢. I grew a lot, both personally and professionally 📈, working with technologies like Angular 🅰️, TypeScript 📜, Java ☕, Spring Boot 🌱, Cypress 🧪, among others. We worked with an agile methodology, following Scrum practices 🧩. It was an amazing journey where I evolved every day, gained technical skills and became a better version of myself 🚀."/>
  </div>
  <div class="line"></div>
  <div class="avatar-wrapper about" >
    <img src="assets/ctw.jpeg" alt="Avatar" class="avatar" [matTooltipPosition]="'above'" [matTooltipDisabled]="!isHidden" matTooltip="I stayed at the company and I keep growing a lot in every aspect, both personally and professionally 🚀. I'm making the most of this opportunity and learning more every day ❤️"/>
  </div>
</div>
<span class="special-font1 about"> ABOUT ME </span>
<div class="aboutMe__description">
  <span class="">
    I love programming and learning new things every day!<br>
    I'm always trying to get better and have fun along the way 🚀<br>
    Super happy I started this journey! 😄
  </span>
</div>
</div>




<!--  FOOTER  -->
<div class="logos-ticker" [class.hidden]="isHidden"> 
  <div class="ul">
  <img src="assets/Angular.png" alt="Angular" class="logo" />
  <img src="assets/react.png" alt="Angular" class="logo" />
  <img src="assets/html.png" alt="Angular" class="logo" />
  <img src="assets/css.png" alt="Angular" class="logo" />
  <img src="assets/sass.png" alt="Angular" class="logo" />
  <img src="assets/JavaScript.png" alt="Angular" class="logo" />
  <img src="assets/TS.png" alt="Angular" class="logo" />
  <img src="assets/java.png" alt="Angular" class="logo" />
  <img src="assets/springboot.png" alt="Angular" class="logo" />
  </div>
<div class="ul">
  <img src="assets/Angular.png" alt="Angular" class="logo" />
  <img src="assets/react.png" alt="Angular" class="logo" />
  <img src="assets/html.png" alt="Angular" class="logo" />
  <img src="assets/css.png" alt="Angular" class="logo" />
  <img src="assets/sass.png" alt="Angular" class="logo" />
  <img src="assets/JavaScript.png" alt="Angular" class="logo" />
  <img src="assets/TS.png" alt="Angular" class="logo" />
  <img src="assets/java.png" alt="Angular" class="logo" />
  <img src="assets/springboot.png" alt="Angular" class="logo" />
</div>
</div>




