/* You can add global styles to this file, and also import other style files */

body {
  background-image: linear-gradient(45deg, #1a1a1a, #6b6b6b, #d9d9d9);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; 
}